.shifting-window .table-container {
    height: 500px;
    overflow-y: auto;
    border: 1px solid var(--color-border-light-2);
    background: rgba(0, 0, 0, 0.05);
}

.shifting-window table {
    border-collapse: collapse;
    width: 100%;
}

.shifting-window th {
    background: var(--color-cool-4);
    color: white;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
}

.shifting-window td {
    padding: 4px;
    border-bottom: 1px solid var(--color-border-light-1);
}

.shifting-window tr {
    cursor: pointer;
}

.shifting-window tr:hover {
    background-color: var(--color-warm-2);
}

.shifting-window tr.selected {
    background-color: var(--color-warm-1);
}

.shifting-window input[type="radio"] {
    opacity: 1;
    width: 20px;
    height: 20px;
    margin: auto;
    display: block;
    cursor: pointer;
    appearance: auto;
}